* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.head1{
    width: 100%;
    height: 60px;
    background-color: rgb(57, 55, 55);
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: black;
}

.title{
    width: 200px;
    /* width: 100px; */
    color: white;
    margin: 20px;
    font-size: 20px;
}

.head2{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

button{
    width: 50%;
    height: 50%;
    margin: 20px;
    border-radius: 5px;
    color: white;
    border: 1px solid green;
    background-color: green;
}

.nav{
    width: 100%;
    height: 50px;
    margin-top: 100px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}
.navbar{
    width: 70%;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
}
.col{
    width: 15%;
    text-align: center;
}

.col:first-child{
    text-decoration: underline;
}

.container{
    width: 87%;
    margin: 100px auto;
    margin-top: 0%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 40px;
}

.product{
    width: 40%;
    height: 500px;
}

.image{
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s all linear;
}

.image img:hover{
    transform: scale(1.1);
}

.class{
    color: grey;
}

.name{
    font-size: larger;
    font-weight: 550;
}

@media (max-width:875px) {
    .container{
        display: block;
    }
    .container .product{
        width: 90%;
    }
    p {
        text-align: center;
    }
}

@media (max-width:550px) {
    .navbar{
        width: 100%;
        flex-wrap: wrap;
        row-gap: 10px;
    }
    .head1{
        display: flex;
        justify-content: space-around;
    }

    .head2{
        width: 40%;
    }
    button{
        width: 100px;
    }
    
}


